body
{
    background-color: #6E7DAB;
    font-family: Helvetica, Arial, sans-serif;
    color: #32292F;
    margin: 20px;

}
.content {
    display:flex;
    padding: 10px; 
    justify-content: space-between;  
}

li {
    line-height: 1.25em;
    font-size: 14px;
}

ul {
    list-style-type: square;
}

.questions {
    background-color: #D1E3DD;
    padding: 15px;
    order: 1;
    border: 3px #D1E3DD solid;
    margin: 10px;
    flex-basis: 20%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);

}

.about-me {
    background-color: #D1E3DD;
    border: 3px #D1E3DD solid;
    padding: 0px 25px 15px;
    order: 2;
    flex-basis: 50%;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    text-align: justify;
}

.bands {
    background-color: #D1E3DD;
    padding: 15px;
    order: 3;
    border: 3px #D1E3DD solid;
    margin: 10px;
    flex-basis: 20%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);

}

